body
{
  color: blue;
  background: lightskyblue;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed blue;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: blue;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

label {
    font-size: 14px;
    color: lightskyblue;
    padding : 6px;
    border-radius : 10px;
    background-color:blue ;
  }
